/* 全体 */
html {
    overflow-y:scroll;
}

body {
    font-family:Meiryo;
    font-size:80%;
    color:rgb(0, 0, 0);
}

a {
    color:rgb(0, 0, 0);
    text-decoration:none;
}

.row {
    margin-right:0;
    margin-left:0;
}

img {
    border:0;
}

/* フッター */
footer {
    background-color:rgb(255, 255, 200);
}

.footer-top {
    min-height:30px;
}

/* 下線 */
.under-line {
	text-decoration:underline;
	text-decoration-color:rgb(0, 0, 0);
}

/* 非表示 */
.is-hidden {
	display:none;
}

/* 領域を超えたら、改行 */
.line-break {
	word-wrap:break-word;
}

/* マウスポインター */
.cursor-pointer {
	cursor: pointer;
}