/* 全体 */
html {
    overflow-y:scroll;
    height:100%;
}

body {
    font-family:fantasy;
    font-size:80%;
    color:rgb(0, 0, 0);
    height:100%;
}

.saved-username-check-label:hover {
    cursor:pointer;
}